$color-white: var(--color-white);
$color-success: var(--color-success);
$color-muted: var(--color-muted);
$color-warning: var(--color-warning);
$color-danger: var(--color-danger);
$color-danger-muted: var(--color-danger-muted);
$color-danger-disabled: var(--color-danger-disabled);
$color-custom-gray: var(--color-custom-gray);
