// @font-face {
//   font-family: "Tactic Sans";
//   src: url("/fonts/Tactic Sans-Regular.ttf");
//   font-weight: 300;
// }

@font-face {
  font-family: "Tactic Sans";
  src: url("/fonts/TacticSans-RegIt.ttf");
  font-weight: 400;
  font-style: italic;
}
